build/
applet/contents/config/
applet/contents/ui/CalendarView.qml
applet/contents/ui/DigitalClock.qml
applet/contents/ui/NoTimezoneWarning.qml
applet/contents/ui/Tooltip.qml
applet/contents/ui/configAppearance.qml
applet/contents/ui/configCalendar.qml
!applet/contents/ui/configTranslation.qml
applet/contents/ui/configTimeZones.qml
applet/contents/ui/main.qml
applet/contents/data/ecdict.sqlite
applets/*/*/contents/config/
applets/*/*/metadata.json
applets/*/*/contents/ui/CalendarView.qml
applets/*/*/contents/ui/DictionaryPopup.qml
applets/*/*/contents/ui/DictionaryTooltip.qml
applets/*/*/contents/ui/DigitalClock.qml
applets/*/*/contents/ui/NoTimezoneWarning.qml
applets/*/*/contents/ui/SwanDictController.qml
applets/*/*/contents/ui/Tooltip.qml
applets/*/*/contents/ui/configAppearance.qml
applets/*/*/contents/ui/configCalendar.qml
applets/*/*/contents/ui/configTimeZones.qml
applets/*/*/contents/ui/configTranslation.qml
applets/*/*/contents/ui/main.qml
applets/*/*/contents/data/ecdict.sqlite
.cache/
__pycache__/
binaries/
build-*/
